<h1>Step 2 : select your config and options</h1>
@if (options) {
  <div class="form">
    <div class="config">
      <select name="config" #config (change)="chooseAConfig(config.value)" [(ngModel)]="selectedConfigId">
        <option>Choose...</option>
        @for (config of options.configs; track config) {
          <option [value]="config.id">{{ config.description }}</option>
        }
      </select>
    </div>
    @if (selectedConfig) {
      <div class="infoConfig">
        Range : {{ selectedConfig.range }} miles - Max speed : {{ selectedConfig.speed }} - Cost
        : {{ selectedConfig.price | currency }}
      </div>
    }
    @if (options.towHitch) {
      <div class="towHitch">
        <input type="checkbox" id="towHitch" (click)="checkTowHitch()" [(ngModel)]="towHitch"/> Too hitch ?
      </div>
    }
    @if (options.yoke) {
      <div class="yoke">
        <input type="checkbox" id="yoke" (click)="checkYoke()" [(ngModel)]="yoke" /> Yoke steering wheel ?
      </div>
    }
  </div>
}
