<h1>Step 3 : Summary</h1>
<div class="teslaModel">Your Tesla
  <span class="model">{{ selectedModel?.description }}</span>
</div>

<table>
  <thead>
  </thead>
  <tbody>
  <tr>
    <td>{{ selectedConfig?.description }}</td>
    <td>{{ selectedConfig?.price | currency }}</td>
  </tr>
  <tr>
    <td>Range : {{ selectedConfig?.range }} miles - Max speed : {{ selectedConfig?.speed }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ selectedColor?.description }}</td>
    <td>{{ selectedColor?.price | currency }}</td>
  </tr>
    @if (towHitch) {
      <tr>
        <td>Tow Hitch Package</td>
        <td>{{ 1000 | currency }}</td>
      </tr>
    }
    @if (yoke) {
      <tr>
        <td>Yoke Package</td>
        <td>{{ 1000 | currency }}</td>
      </tr>
    }
  <tr>
    <td class="total">TOTAL COST</td>
    <td class="total">{{ totalCost | currency }}</td>
  </tr>
  </tbody>
</table>
