<h1>Step 1 : choose your model and color</h1>
<div class="form">
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select (selectionChange)="chooseAModel($event)">
      @for (model of models; track model) {
        <mat-option value="{{model.code}}">{{ model.description }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (selectedModel) {
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select [value]="selectedColorCode" (selectionChange)="chooseAColor($event)">
        @for (color of selectedModel.colors; track color) {
          <mat-option [value]="color.code">{{ color.description }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
@if (selectedModel && selectedColor) {
  <div class="img">
    <img ngSrc="assets/tesla/models/{{selectedModel.code}}/{{selectedColor.code}}.jpg"
         alt="{{selectedModel.description}} - {{selectedColor.description}}"
         title="{{selectedModel.description}} - {{selectedColor.description}}" height="738" width="1330" priority="1"/>
  </div>
}
